@import '~@mdi/font/css/materialdesignicons.min.css';
@import '~highlight.js/styles/stackoverflow-dark.css';


* {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page--padding {
  padding: .7rem 1rem;
}