@use 'locomotive-scroll/src/locomotive-scroll';

:root {
  --at-apply: font-sans;
}

body {
  --at-apply: overflow-y-scroll overflow-x-hidden scroll-smooth;
}

.overflowing {
  --at-apply: w-screen max-w-screen-xl h-full self-center aspect-video;
}